@page "/"
@page "/{Slug}"
@using Services
@inject IContentService ContentService
@inject IContentTransformer ContentTransformer

<h1>@Title</h1>

<ContentArea>
    @Content
</ContentArea>

@functions {
private const string AboutSlug = "about";

[Parameter]
private string Slug { get; set; }

private string Title { get; set; }

private MarkupString Content { get; set; }

protected override async Task OnParametersSetAsync()
{
    await base.OnParametersSetAsync();

    if (string.IsNullOrEmpty(Slug))
    {
        // Default to "about" page when Slug has not been specified.
        Slug = AboutSlug;
    }

    var contentPage = await ContentService.GetPageAsync(Slug);

    Title = contentPage.Title;
    Content = new MarkupString(
        await ContentTransformer.TransformAsync(contentPage.Content));
}
}