@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main role="main" class="container">
    @Body
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright © Robert Sundström @DateTime.Now.Year</span>
        <div class="float-right">
            <span class="text-muted">Powered by <a href="https://blazor.net/">Blazor</a> | Hosted by <a href="https://www.github.com/pages">GitHub Pages</a></span>
        </div>
    </div>
</footer>