<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Robert Sundström</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            @*
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>*@
            @*<li class="nav-item">
                    <NavLink class="nav-link" href="portfolio">
                        <span aria-hidden="true"></span> Portfolio
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="blog">
                        <span aria-hidden="true"></span> Blog
                    </NavLink>
                </li>*@
        </ul>
        <ul class="navbar-nav social-icons">
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/robertsundstrom" title="LinkedIn" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.github.com/robertsundstrom" title="GitHub" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://stackoverflow.com/users/848967" title="Stack Overflow" target="_blank">
                    <i class="fab fa-stack-overflow fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.twitter.com/robertsundstrom" title="Twitter" target="_blank">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/robert_sundstrom" title="Instagram" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UCVdav9wE4kmtiEuk1_vG2_g" title="YouTube" target="_blank">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>