/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    padding-top: 60px;
    margin-bottom: 60px;
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

app > .container {
    padding: 60px 15px 0;
    padding-bottom: 40px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

pre {
    background-color: #f6f8fa !important;
}

code {
    font-size: 80%;
}

.bg-dark {
    background-color: #567dec !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', -apple-system,BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: #343a40 !important;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    display: block !important;
    font-size: 3.5em !important;
    font-weight: bold !important;
}

h3 {
    display: block !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

h4 {
    display: block !important;
    font-size: 1.0em !important;
    font-weight: bold !important;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 0 !important;
    }
}

.photo {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .photo {
        float: none !important;
    }
}

/* Loader */
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* GitHub Corner */
.github-corner > svg {
    z-index: 9999;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0)
    }

    20%,60% {
        transform: rotate(-25deg)
    }

    40%,80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
